<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.hzxConnectionString"
            connectionString="Data Source=DESKTOP-IB7RRG2;Initial Catalog=hzx;Persist Security Info=True;User ID=hzx;Password=hzx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>